
*, body{
  margin: 0;
  padding: 0
  font-family: 'Nunito', sans-serif;
}

body{
  margin:0px 0px;
}

.uk-navbar-nav>li>a{
  color: #e3e3e3;
}
.uk-navbar-nav>li>a:hover{
  color: #e3e3e3;
}
.text-white{
  color: #e3e3e3;
}
.text-white:hover{
  color: #e3e3e3;
}

.bg-gradient{
  background-image:url(../assets/img/bg_gradient.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

span.uk-navbar-toggle-icon.uk-icon{
  color: #e3e3e3;
}
span.uk-margin-small-right{
  color: #e3e3e3;
}

button#nav-button{
  width: 155px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid;
  color:  #e3e3e3;
}


img.hero-logo{
  margin-top: 0px;
}

#hero{
  margin-top: 0px;
  padding-top: 10px;
  clear: both;
  background-image:url(../assets/img/bg_gradient.png);
  background-size:cover;
  position:relative;
  height:100vh;
}

#services{
  background-color: #fff;
  background-size:cover;
  position:relative;
  height:100%;
  padding-top: 110px;
}
h3.uk-card-title.title-text{
  margin: 0px;
  text-align: center;
}
.uk-card-body>:last-child, .uk-card-footer>:last-child, .uk-card-header>:last-child{
  text-align: center;
}

.uk-list>li:nth-child(n+2), .uk-list>li>ul{
  margin: 0px;
}
.uk-margin-medium-bottom{
  margin-bottom: 100px !important;
}
*+.uk-margin-small{
  margin-bottom: 0px;
}

#projects{
  padding-top: 110px;
}
.uk-margin-large-bottom{
  margin-bottom: 110px !important;
}

#contact{
  padding-top: 110px;
}
h1.uk-heading-primary.uk-text-center.heading-section{
  margin-bottom: 110px !important;
}

.header{
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
}

.logo-menu{
  width: 30px;
  margin-left: 20px;
  margin-top: 20px;
}

.logo-small{
  width: 30px;
}

.logo-hero{
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 150px;
}

.text-header{
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  color: #fff;
}

.heading-section{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #2D3483;
}
.text-white{
  color: #fff;
}

.title-text{
  color: #2D3483;
}

.list-text{
  color: #EC6773;
}

.text-light{
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  color: #fff;
}

.text-light-blue{
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  color: #2D3483;
}

.text-bold{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #fff;
}

.icon{
  width: 50%;
}
a.uk-icon{
  float: none;
  padding-top: 40px;
}
.link-href:hover{
  text-decoration: none;
}

#content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#content h2{
  margin:0px 0px 30px 0px;
}

#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}
